<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.FooterInfoMapper">

<!--    <sql id="selectFooterInfo">-->
<!--        -->
<!--    </sql>-->

    <select id="getFooterInfo" resultType="com.blog.domain.entity.FooterInfo">
        SELECT id, author, icp_number, police_number FROM blog_footer_info
    </select>
</mapper>